p.font1
{
font-style: italic;
font-family: 'Times New Roman', Times, serif;
font-size: 15px;    
}

p.google_font1
{
    font-family: 'Libre Baskerville', serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Charmonman', cursive;

}